


    <div id="seed-id" class="card " data-id="{{id}}">
        <div class="card-header text-bg-dark ">
         Edit Post
        </div>
        <div class="card-body">
           <div class="mb-3 ">
              <label for="form-title" class="form-label">Title</label>
              <input type="text" class="form-control" id="myTitle" value="{{title}} ">
           </div>
          <div class="mb-3">
             <label for="form-content" class="form-label">Content </label>
             <input type="text" class="form-control" id="myContent" value="{{content}}">
          </div >
                
             
        </div>
         <button id="update" type="button" class="btn btn-info btn-lg btn-block">Update Post</button>
         <button id="delete" type="button" class="btn btn-info btn-lg btn-block">Delete</button>
      </div>
      
      <script src="/js/edit.js"></script>